Source: shmupwarz
Maintainer: darkoverlordofdata <darkoverlordofdata@gmail.com>
Priority: optional
Section: misc
Build-Depends: build-essential, po-debconf, valac, libsdl2-gfx-dev, libsdl2-image-dev, libsdl2-mixer-dev, libsdl2-ttf-dev, libgee-0.8-dev, libsdl2-dev, libglib2.0-dev, cmake, gettext, pkg-config, gcc, g++, make, intltool

Package: shmupwarz
Architecture: any
Version: 1.0.0
Depends: libsdl2-gfx-1.0-0, libsdl2-image-2.0-0, libsdl2-mixer-2.0-0, libsdl2-ttf-2.0-0, libgee-0.8-2, libsdl2-2.0-0, libglib2.0-0, libc6-dev
Description: Not available
 .
