[Desktop Entry]
Version=1.0
Type=Application
Name=ShmupWarz
GenericName=Game
Comment=Give Me Those ShmupWarz
Icon=shmupwarz.png
Exec=shmupwarz
NoDisplay=false
Categories=Game;
Keywords=ShmupWarz;
StartupNotify=false
Terminal=false
